@font-face {
    font-family: 'SB';
    src: url(../fonts/PTSans-Bold.ttf);
}
@font-face {
    font-family: 'SI';
    src: url(../fonts/PTSans-Italic.ttf);
}
@font-face {
    font-family: 'SR';
    src: url(../fonts/PTSans-Regular.ttf);
}
@font-face {
    font-family: 'LR';
    src: url(../fonts/Lato-Regular.ttf);
}